<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--控制IE最新版本-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--保证网页在移动端正常显示-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=".">
    <link href="../dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!--<link href="../dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="../css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="../css/productShow.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link href="../css/navFooter.css" type="text/css" rel="stylesheet">
    <!--矢量图标引入-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <!--IE兼容html5-->
    <!==[if It IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ondblclick="ocultar_login_sign_up()">
<%-include("navHeader.ejs")%>
<div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">
            <%for(var i=0;i<data.length;i++){%>
            <div class="col-md-4 col-sm-6">
                <div class="product-wrapper mb-40">
                    <div class="product-img">
                        <a href="#">
                            <img src="<%=data[i].prd_char%>" alt=""/></a>
                        <span class="new-label">NEW</span>
                        <div class="product-action">
                            <a href="#">
                                <span class="iconfont" aria-hidden="true">&#xe6e4;</span>
                            </a>
                            <a href="#">
                                <span class="iconfont" aria-hidden="true">&#xe641;</span>
                            </a>
                            <a href="#" class="cut-off" data-toggle="modal" data-target="#productModal">
                                <span class="iconfont" aria-hidden="true">&#xe60f;</span>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="pro-title">
                            <h3>
                                <a href=""><%=data[i].prd_name%></a>
                            </h3>
                        </div>
                        <div class="price-reviews">
                            <div class="price-box">
                                <span class="price product-price">$<%=data[i].prd_money%></span>
                                <span class="old-price product-price">$200.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
<%-include("footer.ejs")%>
<script src="../js/navFooter.js"></script>
</body>
</html>
